.bookCarousel {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 15px;
  background-color: lightslategray;
  align-items: center;
}

.deleteButton {
  margin-bottom: 50px;
}
